/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* ================== General Styles ================== */
@font-face {
  font-family: Roboto-Regular;
  src: url(../fonts/Roboto-Regular.ttf);
}
html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  font-family: Roboto-Regular, sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
}

.my-container {
  width: 90%;
  margin: auto;
}

.clear {
  clear: both;
}

div img {
  width: 100%;
}

a {
  text-decoration: none;
  color: transparent;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  list-style-type: none;
}

.w-fc {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.h-fc {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

html,
body {
  scrollbar-color: #ffdbd2 white;
  scrollbar-width: thin;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #b46653;
}
/* =================================================== */

/* ================== Navbar ================== */
.bg-icon {
  background: -webkit-gradient(linear, left top, right top, from(#fd3e2d), to(#ff5f00));
  background: -o-linear-gradient(left, #fd3e2d, #ff5f00);
  background: linear-gradient(to right, #fd3e2d, #ff5f00);
  padding: 0.5625rem 0.8125rem;
}
nav {
  border-bottom: #ffedd4 2px solid;
  -webkit-box-shadow: 0.375rem 0.375rem 0.9375rem rgba(0, 0, 0, 0.1);
          box-shadow: 0.375rem 0.375rem 0.9375rem rgba(0, 0, 0, 0.1);
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #f54a00;
  background-color: white;
  padding: 0.9375rem 1.375rem;
  border-bottom: #f54a00 .1875rem solid;
  border-radius: 0%;
}
.nav-tabs-hover {
  color: #6a7282;
  padding: 0.9375rem 1.375rem;
  border-bottom: transparent 0.125rem solid;
}
.nav-tabs-hover:hover {
  color: #364153;
}
.navbar-collapse li {
  color: #4a5565;
}
.navbar-collapse li:hover {
  color: #f54a00;
  cursor: pointer;
}
.border-img {
  border: 0.125rem solid #f54a00;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.clock-icon-color {
  color: #ff6900;
}

/* =================================================== */

/* ================== Main Section ================== */
main {
  background: #fff8ed;
}

.setting-food {
  background-color: #ffedd4;
  color: #f54a00;
  padding: 0.75rem 0.625rem;
}
.setting-food:hover {
  background-color: #ffd7a8;
  cursor: pointer;
}
.img-food {
  border-top-left-radius: 1.5625rem;
  border-bottom-left-radius: 1.5625rem;
  height: 100%;
}
.bg-ingre {
  background-color: #fff9ec;
}
.bg-ingre span {
  background-color: #ff6900;
  padding: 0.125rem 0.4375rem;
  color: white;
  border-radius: 50%;
  font-size: 0.75rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.main-boxshadow {
  -webkit-box-shadow: 0px 0.625rem 0.625rem rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0.625rem 0.625rem rgba(0, 0, 0, 0.1);
  border: 1px solid #ffedd4;
}
.rate-food {
  top: 5%;
  left: 5%;
}
.info-food {
  bottom: 5%;
  left: 8%;
}
.bg-btn-tar {
  background: -webkit-gradient(linear, left top, right top, from(#ff6600), to(#fa2e35));
  background: -o-linear-gradient(left, #ff6600, #fa2e35);
  background: linear-gradient(to right, #ff6600, #fa2e35);
  padding: 0.75rem 1.5625rem;
  border-radius: 0.75rem;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.bg-btn-tar:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  background: -webkit-gradient(linear, left top, right top, from(#f44500), to(#e80007));
  background: -o-linear-gradient(left, #f44500, #e80007);
  background: linear-gradient(to right, #f44500, #e80007);
  -webkit-box-shadow: 0rem 0.375rem 0.9375rem rgba(0, 0, 0, 0.216);
          box-shadow: 0rem 0.375rem 0.9375rem rgba(0, 0, 0, 0.216);
}
.tab-content {
  height: 60vh;
}

.instru span {
  background-color: #ff6900;
  color: white;
  padding: 0.625rem 1.125rem;
  border-radius: 0.9375rem;
}
.bg-nut {
  background-color: #f9fafb;
  width: 49%;
}
.calories {
  background-color: #ffedd4;
  color: #f54a00;
}
.nutrition {
  padding: 0.5625rem 0.625rem;
}
.carbohydrates {
  background-color: #fef9c2;
  color: #d08700;
}
.fat {
  background-color: #ffe2e2;
  color: #e7000b;
}
.sodium {
  background-color: #fce7f3;
  color: #e60076;
}
.chef-tips {
  background-color: #fffbeb;
}
.chef-icon {
  color: #e17100;
}
.color-danger{
  color: #9F0712;
}
.extended-preparation{
  background-color: #FEF2F2;
  border-left: #FB2C36 4px solid;
}
.color-ex-pr{
  color: #FB2C36;
}
/* =================================================== */